@font-face {
  font-family: 'Profilfont-Regular-Web';
  src: local('Profilfont-Regular-Web'), url('./static/fonts/._Profilfont-Regular-Web.woff') format('woff'),
       local('Profilfont-Regular-Web'), url('./static/fonts/._Profilfont-Regular-Web.woff2') format('woff2');
}

body {
  font-family: Profilfont-Regular-Web, sans-serif;
  font-size: 1.4rem;
  margin: 1rem;
  align-items: center;
}

main {
  align-content: center;
}

h1 {
  font-weight: normal;
}

.ingress {
  max-width: 960px;
}

.error {
  color: #c93116;
  margin-top: 0.2rem;
  font-size: 1.2rem;
  padding-top: 0.6rem;
}

@media (min-width: 960px) {
  body {
    max-width: 1500px;
    box-sizing: content-box;
    display: block;
    margin: auto;
    padding: 1.2rem;
  }
}
