// Fonts
@font-face {
  font-family: 'Profilfont-Regular-Web';
  src: local('Profilfont-Regular-Web'), url('./static/fonts/._Profilfont-Regular-Web.woff') format('woff'),
  local('Profilfont-Regular-Web'), url('./static/fonts/._Profilfont-Regular-Web.woff2') format('woff2');
}

// Variables
$font-primary: 'Profilfont-Regular-Web', sans-serif;
$font-size-base: 1.4rem;

// Styling
body {
  font-family: $font-primary;
  font-size: $font-size-base;
  margin: 0 auto;
  padding: 1rem;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
}

h1 {
  font-weight: normal;
}

.ingress {
  margin: 0 auto;
}

.error {
  color: #c93116;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  padding-top: 0.6rem;
  opacity: 0;
  animation: fadeIn ease-in 0.4s forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &-visible {
    opacity: 1;
  }
}

@media (min-width: 960px) {
  body {
    box-sizing: content-box;
    margin: 0 auto;
    max-width: 1500px;
    padding: 1.2rem;
  }

  .ingress {
    margin: 0;
    max-width: 960px;
  }
}
